$hemnet-light-grey: #e5e5e5;
$hemnet-light-green: #9DC968;
$mstat-deep-blue: #005DD9;
$mstat-comp-purple: #9468C9;
$hemnet-comp-orange: #D97C00;
$mstat-dark-grey: #A2A2A2;
$mstat-light-grey: #D1D1D1;

$panel-base-color: $hemnet-comp-orange !default;

$base-color: $mstat-dark-grey !default;
$neutral-color: $mstat-light-grey !default;
$color: #333 !default;
