<!DOCTYPE html>
<html>
<head>
<!-- <meta-content> -->
    <meta charset="utf-8" lang="sv">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <title>Widget Demo (first-draft)</title>
<!-- </meta-content> -->

<!-- <mobile-config> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"> -->
<!-- </mobile-config> -->

<!-- <apple-config> -->
    <!-- Apple Safari compatibility statement -->
    <meta name="apple-mobile-web-app-capable" content="NO">

    <!-- Apple Touch Icon for enabling "Add to Home Screen" -->
    <!-- <link href="/resources/public/apple-touch-icon-precomposed" rel="apple-touch-icon-precomposed"> -->
<!-- </apple-config> -->

<!-- <msie-config> -->
    <!-- Use Chrome Frame for all IE versions -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->

    <!-- Manual DNS prefetching for speed-up -->
    <!-- <link rel="dns-prefetch" href="//ajax.googleapis.com"> -->

    <!-- Pinning title in MSIE9 -->
    <meta name="application-name" content="Widget Demo (first-draft)">

    <!-- Pinning tooltip (description) in MSIE9 -->
    <meta name="msapplication-tooltip" content="First-draft widget implementation">

    <!-- Target URL for pin in MSIE9 -->
    <meta name="msapplication-starturl" content="https://sys.maklarstatistik.se/ui/demo/widget">

    <!-- Default dimensions when pinned in MSIE9 -->
    <meta name="msapplication-window" content="width=960;height=653">

    <!-- UI tone when pinned in MSIE9 -->
    <meta name="msapplication-navbutton-color" content="#009bff">

    <!-- Task menu when pinned in MSIE9 -->
    <!-- <meta name="msapplication-task" content="name=Task-1;action-uri=//task_url1;icon-uri=//task_ico_url1"> -->
<!-- </msie-config> -->

<!-- <meta-author> -->
    <meta name="author" content="Mats Blomdahl (2013-12-17)">
    <link type="text/plain" rel="author" href="//sys.maklarstatistik.se/humans.txt">
<!-- </meta-author> -->

<!-- <meta-id> -->
    <!-- Canonical URL for search engines and referees -->
    <link rel="canonical" href="https://sys.maklarstatistik.se/ui/demo/widget">

    <!-- Pingback URL for websites linking in -->
    <link rel="pingback" href="https://sys.maklarstatistik.se/ui/demo/widget">
<!-- </meta-id> -->

<!-- <normalize-css> -->
    <link rel="stylesheet" href="//normalize-css.googlecode.com/svn/trunk/normalize.css">
<!-- </normalize-css> -->

<!-- <google-charts-api> -->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load( 'visualization', '1', {packages: ['corechart']} );
    </script>
<!-- </google-charts-api> -->

<!-- Widget Style -->
<style type="text/css">

    body, div, h1, h2, h3 {
        margin: 0;
    }

    body {
        font-family: Arial, sans-serif;
        color: #333;
        font-size: 100%;
        background-color: black;
        overflow: hidden;
    }

    h1 {
        color: #D97C00;
        font-family: Times, serif;
        font-size: 20px;
        padding: 2px 0 0 5px;
    }

    h2 {
        font-size: 16px;
        padding: 2px 0 0 5px;
        font-weight: normal;
    }

    h3 {
        margin-right: 5px;
        border-bottom: 1px solid #e5e5e5;
    }

    h3, p, table {
        font-size: 12px;
    }

    table {
        margin-left: -2px;
        width: 100%;
    }

    .left-column, .right-column {
        border: 3px dashed #9DC968;
        padding: 5px 0 0 5px;
    }

    .left-column {
        float: left;
        width: 61%;
        margin-right: 5px;
        height: 103px;
    }

    .right-column {
        float: right;
        margin-left: 5px;
        width: 31%;
        height: 72px;
    }

    .align-right {
        text-align: right;
    }

    #wrapperContainer {
        position: relative;
        background-color: red;
        width: 500px;
        height: 420px;
    }

    #visualization {
        height: 200px;
    }

    #titleContainer {
        position: relative;
        background-color: white;
        padding: 10px 0 0 10px;
        height: 46px;
    }

    #topRightContainer {
        position: absolute;
        top: 11px;
        right: 12px;
    }

    #subChartContainer {
        position: relative;
        background-color: white;
        width: 500px;
        height: 164px;
    }

    #subChartInnerBtnContainer {
        position: relative;
        left: 50%;
        margin: 0 0 0 -25%;
    }

    #subChartInnerFactsContainer {
        margin: 10px 15px 0 15px;
    }

    #subChartInnerLogoContainer {
        position: absolute;
        width: 176px;
        height: 30px;
        right: 1px;
        margin: 0;
        bottom: 2px;
    }

    #subChartInnerLogoContainer > img {
        width: 100%;
    }

</style>

<!-- Widget Logic -->
<script type="text/javascript">
/**
 * Carros feedback:
 * - ta bort årtal på tidslinjen (bara vid årsskifte) 01 -> jan
 * - markera trivia-rubrikerna med blått (eller nåt)
 * - större typsnitt på knapparna
 * - mer vert-space mellan trivia-rubrikerna och värdena
 * - dra ner höjden på trivia-boxen
 * -
 *
 * Johans feedback:
 * - kolla http://www.behance.net/ för inspiration (https://chartio.com?)
 * - -1px linjetjocklek (3px?), grön linje istället för blå
 * - man fattar inte att det går att hovra
 * -
 *
 * P-A:s feedback:
 * - lägga till label på y-axis,
 *       "1.92" istället för "1.92 K/T", etikett i stil med "K/T-tal*"
 *       "57 800" istället för "57.8 tkr/m2", etikett i stil med "pris/m2"
 * -
 * - ska fortsätta nu...
 * -
 * -
 *
 */
function generateOptions( viewRange, vAxisFormat, widgetWidth, widgetHeight ) {

    var baseFontFace = 'Sans-serif, Arial', baseFontSize = 11, baseTextColor = '#333', hAxisFontSize = baseFontSize -
                    1, width = widgetWidth ? widgetWidth : 500, height = widgetHeight ? widgetHeight :
                                                                         200, hemnetLightGreen = '#9DC968', hemnetLightGrey = '#e5e5e5', mstatDeepBlue = '#005DD9';

    return {
        //title: 'Bostadsrätter: Östermalm, Stockholm',
        titlePosition: 'none',
        //titleTextStyle: {
        //    color: '#333',
        //    fontName: 'monospace',
        //    fontSize: '230%'
        //},
        fontName:      'Sans-serif, Arial',
        fontSize:      11,

        width:     width,
        height:    height,
        chartArea: {
            top:    10,
            left:   80,
            width:  width - 95,
            height: 135
        },

        animation:           {
            duration: 500,
            easing:   'out' //'inAndOut'
        },
        curveType:           'none',
        enableInteractivity: true,

        //colors: ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6'],
        backgroundColor:     {
            //stroke: '#005DD9',
            strokeWidth: 0,
            fill:        'white'
        },

        axisTitlesPosition: 'none',
        hAxis:              {
            //title: 'Månad',
            //titleTextStyle: {
            //    color: 'red',
            //    fontName: 'monospace',
            //    fontSize: '230%'
            //},
            //format: 'MMM-yyyy',
            maxAlternation: 1,
            slantedText:    true,
            //slantedTextAngle: 90,
            maxTextLines:   1,
            //baseline: 10,
            //baselineColor: 'black',
            //gridlines: {
            //    color: 'blue',
            //    count: 1
            //},
            //minorGridlines: {
            //    color: 'yellow',
            //    count: 2
            //},
            textPosition:   'out',
            textStyle:      {
                color:    baseTextColor,
                fontName: baseFontFace,
                fontSize: hAxisFontSize
            },
            //
            //minValue: new Date(2012, 1, 1),
            //maxValue: new Date(2012, 5, 1),
            viewWindow:     {
                min: viewRange[0],
                max: viewRange[1]
            }
        },
        vAxes:              [
            {
                //title: 'Köpesumma/m²',
                //titleTextStyle: {
                //    color: 'red',
                //    fontName: 'monospace',
                //    fontSize: '230%'
                //},
                //maxValue: 66000,
                //minValue: 58000,
                //baseline: 10,
                baselineColor:  'white',
                format:         vAxisFormat,
                gridlines:      {
                    color: hemnetLightGreen,//'#333', //'#35850d',
                    count: 6
                },
                minorGridlines: {
                    color: hemnetLightGrey, // '#ededee', //'#9DC968', // hemnet, compl. #9468C9
                    count: 1
                },
                textPosition:   'out',
                textStyle:      {
                    color:    baseTextColor,
                    fontName: baseFontFace,
                    fontSize: baseFontSize
                },
                viewWindowMode: "maximized"
            }
        ],
        legend:             {
            position:  'none',
            alignment: 'in'
            //textStyle: {
            //    color: 'black',
            //    fontName: 'monospace',
            //    fontSize: '11'
            //}
        },
        lineWidth:          1,
        pointSize:          1,
        series:             [
            {
                color:           mstatDeepBlue,
                targetAxisIndex: 0,
                curveType:       'none',
                lineWidth:       3,
                pointSize:       7,
                visibleInLegend: false
            }
        ],
        //theme: 'maximized',

        tooltip: {
            showColorCode: false,
            textStyle:     {
                color:    baseTextColor,
                fontName: baseFontFace,
                fontSize: baseFontSize
            },
            trigger:       'focus',
            isHtml:        true
        },

        interpolateNulls: true
    };
}

var apiOutput, housingCoopRawData, housingCoopDataset, homeOwnershipRawData, homeOwnershipDataset;

apiOutput = {
    data: {
        regionId:          "UKZ3asF13oPq6gA",
        housingCategories: {
            homeOwnership: {
                regionFriendlyName: "Stockholm, Stockholms län",
                subsetFriendlyName: "Villor/Fritidshus",
                keyRatios: {
                    last3Months:  {
                        contractPriceAvg: 4321000,
                        priceDevelopment: 1.01,
                        transactionCount: 602
                    },
                    last12Months: {
                        contractPriceAvg: 3790000,
                        priceDevelopment: 1.02,
                        transactionCount: 1350
                    },
                    last24Months: {
                        contractPriceAvg: 3790000,
                        priceDevelopment: 1.02,
                        transactionCount: 1350
                    }
                },
                funFacts:  {
                    contractPriceMin: "Nidälvsgränd (4 rum, 80 m²), 2.1 Mkr",
                    contractPriceMax: "Radarvägen (3 rum, 131 m²), 12.0 Mkr",
                    livingAreaMin:    "Flygfältsgatan, 37 m²",
                    livingAreaMax:    "Valhallavägen, 322 m²"
                },
                plotData: {
                    cols: [ "Month", "PriceByRateableValue", "TransactionCount" ],
                    rows: [
                        [ "2010-03", 1.13, 788 ],
                        [ "2010-04", 1.27, 869 ],
                        [ "2010-05", 1.03, 791 ],
                        [ "2010-06", 1.27, 749 ],
                        [ "2010-07", 1.22, 996 ],
                        [ "2010-08", 1.53, 793 ],
                        [ "2010-09", 1.40, 991 ],
                        [ "2010-10", 1.26, 624 ],
                        [ "2010-11", 1.08, 742 ],
                        [ "2010-12", 1.05, 681 ],
                        [ "2011-01", 1.07, 673 ],
                        [ "2011-02", 1.25, 830 ],
                        [ "2011-03", 1.40, 935 ],
                        [ "2011-04", 1.43, 529 ],
                        [ "2011-05", 1.30, 635 ],
                        [ "2011-06", 1.26, 606 ],
                        [ "2011-07", 1.17, 920 ],
                        [ "2011-08", 1.31, 635 ],
                        [ "2011-09", 1.24, 619 ],
                        [ "2011-10", 1.23, 608 ],
                        [ "2011-11", 0.92, 530 ],
                        [ "2011-12", 0.95, 589 ],
                        [ "2012-01", 1.10, 830 ],
                        [ "2012-02", 1.18, 792 ],
                        [ "2012-03", 1.30, 765 ],
                        [ "2012-04", 1.24, 700 ],
                        [ "2012-05", 1.19, 678 ],
                        [ "2012-06", 1.32, 600 ],
                        [ "2012-07", 1.42, 914 ],
                        [ "2012-08", 1.58, 527 ],
                        [ "2012-09", 1.58, 951 ],
                        [ "2012-10", 1.61, 776 ],
                        [ "2012-11", 1.62, 615 ],
                        [ "2012-12", 1.55, 747 ],
                        [ "2013-01", 1.62, 621 ],
                        [ "2013-02", 1.52, 883 ]
                    ]
                }
            },
            housingCooperative: {
                regionFriendlyName: "Östermalm, Stockholm",
                subsetFriendlyName: "Bostadsrätter",
                keyRatios: {
                    last3Months:  {
                        contractPriceAvg: 3178000,
                        priceDevelopment: 0.97,
                        transactionCount: 956
                    },
                    last12Months: {
                        contractPriceAvg: 2990000,
                        priceDevelopment: 1.08,
                        transactionCount: 3824
                    },
                    last24Months: {
                        contractPriceAvg: 2790000,
                        priceDevelopment: 1.15,
                        transactionCount: 6900
                    }
                },
                funFacts:  {
                    contractPriceMin: "Rålambsvägen (4 rum, 122 m²), 2.9 Mkr",
                    contractPriceMax: "Pontonjärgatan (1 rum, 17 m²), 1.1 Mkr",
                    livingAreaMin:    "Wollmar Yxkullsgatan, 15 m²",
                    livingAreaMax:    "Strandvägen, 192 m²"
                },
                plotData: {
                    cols: [ "Month", "PriceByLivingArea", "TransactionCount" ],
                    rows: [
                        [ "2010-03", 61038, 1071 ],
                        [ "2010-04", 62257, 1181 ],
                        [ "2010-05", 60318,  958 ],
                        [ "2010-06", 62740,  877 ],
                        [ "2010-07", 61460, 1496 ],
                        [ "2010-08", 64803, 1484 ],
                        [ "2010-09", 63039,  541 ],
                        [ "2010-10", 62415,  596 ],
                        [ "2010-11", 60090,  962 ],
                        [ "2010-12", 59679,  615 ],
                        [ "2011-01", 60125,  513 ],
                        [ "2011-02", 61613,  530 ],
                        [ "2011-03", 64038, 1256 ],
                        [ "2011-04", 63257,  834 ],
                        [ "2011-05", 62318,  845 ],
                        [ "2011-06", 61740, 1199 ],
                        [ "2011-07", 61460,  687 ],
                        [ "2011-08", 62803,  585 ],
                        [ "2011-09", 62039, 1395 ],
                        [ "2011-10", 61415,  519 ],
                        [ "2011-11", 59090,  861 ],
                        [ "2011-12", 58679, 1019 ],
                        [ "2012-01", 60125, 1441 ],
                        [ "2012-02", 61613,  956 ],
                        [ "2012-03", 62524,  903 ],
                        [ "2012-04", 62214,  901 ],
                        [ "2012-05", 61882, 1392 ],
                        [ "2012-06", 62193, 1368 ],
                        [ "2012-07", 63372, 1475 ],
                        [ "2012-08", 65186, 1482 ],
                        [ "2012-09", 65172,  702 ],
                        [ "2012-10", 65366,  967 ],
                        [ "2012-11", 65643, 1147 ],
                        [ "2012-12", 65484,  699 ],
                        [ "2013-01", 64823, 1455 ],
                        [ "2013-02", 64526, 1066 ]
                    ]
                }
            }
        }
    },
    meta: {
        responseTime: "30 ms",
        lastModified: '2013-03-20T10:21:10'
    }
};

function generateHousingCoopTooltip(tooltipData) {
    return "<div style=\"padding: 5px;\"><b>" + tooltipData.month + "</b><br>" +
           "Köpesumma/boyta: " + tooltipData.rawValue.toLocaleString().replace(',', ' ') + " kr/m²<br>" +
           "Antal försäljningar: " + tooltipData.dataPoints + " st.</div>";
}

housingCoopRawData = apiOutput.data.housingCategories.housingCooperative.plotData.rows;
housingCoopDataset = {
    plotData:     [],
    friendlyName: apiOutput.data.housingCategories.housingCooperative.subsetFriendlyName,
    region: apiOutput.data.housingCategories.housingCooperative.regionFriendlyName,
    vAxisFormat:  "#.0 tkr/m²",
    tooltipFn:    generateHousingCoopTooltip,
    funFacts: apiOutput.data.housingCategories.housingCooperative.funFacts,
    keyRatios: apiOutput.data.housingCategories.housingCooperative.keyRatios
};

for (var i = 0, j = housingCoopRawData.length; i < j; i++) {
    var dataPoints = housingCoopRawData[i][2];
    var hAxisLabel = housingCoopRawData[i][0];
    var vAxisPlotValue = housingCoopRawData[i][1] / 1000.0;

    housingCoopDataset.plotData.push( [
        hAxisLabel, vAxisPlotValue, {
            month:      hAxisLabel,
            rawValue:   housingCoopRawData[i][1],
            dataPoints: dataPoints
        }
    ] );
}

function generateHomeOwnershipTooltip(tooltipData) {
    return "<div style=\"padding: 5px;\"><b>" + tooltipData.month + "</b><br>" +
           "Köpesumma/Tax-värde: " + tooltipData.rawValue.toPrecision(3) + "<br>" +
           "Antal försäljningar: " + tooltipData.dataPoints + " st.</div>";
}

homeOwnershipRawData = apiOutput.data.housingCategories.homeOwnership.plotData.rows;
homeOwnershipDataset = {
    plotData:     [],
    friendlyName: apiOutput.data.housingCategories.homeOwnership.subsetFriendlyName,
    region: apiOutput.data.housingCategories.homeOwnership.regionFriendlyName,
    vAxisFormat:  "#.00 K/T",
    tooltipFn:    generateHomeOwnershipTooltip,
    funFacts: apiOutput.data.housingCategories.homeOwnership.funFacts,
    keyRatios: apiOutput.data.housingCategories.homeOwnership.keyRatios
};

for (var i = 0, j = homeOwnershipRawData.length; i < j; i++) {
    var dataPoints = homeOwnershipRawData[i][2];
    var hAxisLabel = homeOwnershipRawData[i][0];
    var vAxisPlotValue = homeOwnershipRawData[i][1];

    homeOwnershipDataset.plotData.push([
        hAxisLabel, vAxisPlotValue, {
            month:      hAxisLabel,
            rawValue:   vAxisPlotValue,
            dataPoints: dataPoints
        }
    ]);
}

function initDataTable() {
    var dataTable = new google.visualization.DataTable();

    dataTable.addColumn( {
        type: 'string',
        //label: 'Månad',
        id:   'month',
        role: 'domain'
        //pattern: 'MMM-yyyy'
    } );

    //var formatter = new google.visualization.DateFormat({pattern: 'MMM-yyyy'});

    dataTable.addColumn({
        type: 'number',
        //label: 'avgPrice',
        id:   'avg',
        role: 'data'
        //pattern: 'ya'
    });

    dataTable.addColumn({
        type: 'string',
        //label: 'Transaktioner',
        id:   'avgTooltip',
        role: 'tooltip',
        p: { html: true }
        //pattern: 'ya'
    });

    return dataTable;
}

function initVisualization() {
    // Create and populate the data table.

    function drawChart() {
        console.log(uiConfig);
        console.log(activeDatasetFriendlyNameSpan);
        console.log(nextDatasetFriendlyNameSpan);

        chart.draw( dataView,
                generateOptions(uiConfig.displayInterval.activeInterval, uiConfig.displayDataset.vAxisFormat));
    }

    function bindIntervalUiBtns() {
        view12MonthsBtn = document.getElementById('view12MonthsBtn');
        view24MonthsBtn = document.getElementById('view24MonthsBtn');
        view36MonthsBtn = document.getElementById('view36MonthsBtn');

        uiConfig.displayInterval.disableButtons = [view12MonthsBtn, view24MonthsBtn, view36MonthsBtn];
        uiConfig.displayInterval.enableButtons = [view24MonthsBtn, view36MonthsBtn];

        view12MonthsBtn.onclick = function () {
            uiConfig.displayInterval.enableButtons = [view24MonthsBtn, view36MonthsBtn];
            changeDataInterval( 12 );

            drawChart();
        };

        view24MonthsBtn.onclick = function () {
            uiConfig.displayInterval.enableButtons = [view36MonthsBtn, view12MonthsBtn];
            changeDataInterval( 24 );

            drawChart();
        };

        view36MonthsBtn.onclick = function () {
            uiConfig.displayInterval.enableButtons = [view24MonthsBtn, view12MonthsBtn];
            changeDataInterval( 36 );

            drawChart();
        };
    }

    function bindDatasetUiBtns() {
        viewDatasetToggleBtn = document.getElementById('viewDatasetToggleBtn');

        uiConfig.displayDataset.disableButtons = [viewDatasetToggleBtn];
        uiConfig.displayDataset.enableButtons = [viewDatasetToggleBtn];

        viewDatasetToggleBtn.onclick = function () {

            if (housingCoopDataset.friendlyName == uiConfig.displayDataset.activeFriendlyName) {
                uiConfig.displayDataset.activeFriendlyName = homeOwnershipDataset.friendlyName;
                uiConfig.displayDataset.nextFriendlyName = housingCoopDataset.friendlyName;
                changeDataset(homeOwnershipDataset);
            } else {
                uiConfig.displayDataset.nextFriendlyName = homeOwnershipDataset.friendlyName;
                uiConfig.displayDataset.activeFriendlyName = housingCoopDataset.friendlyName;
                changeDataset(housingCoopDataset);
            }

            drawChart();
        };
    }

    function disableUi() {
        for (var i = uiConfig.displayInterval.disableButtons.length; i--;) {
            console.log('disabling ' + i);
            uiConfig.displayInterval.disableButtons[i].disabled = true;
        }

        for (var i = uiConfig.displayDataset.disableButtons.length; i--;) {
            console.log('disabling ' + i);
            uiConfig.displayDataset.disableButtons[i].disabled = true;
        }
    }

    function enableUi() {
        nextDatasetFriendlyNameSpan.textContent = uiConfig.displayDataset.nextFriendlyName;
        activeDatasetFriendlyNameSpan.textContent = uiConfig.displayDataset.activeFriendlyName;

        var funFacts = homeOwnershipDataset.funFacts;
        var keyRatios = homeOwnershipDataset.keyRatios;

        if (uiConfig.displayDataset.activeFriendlyName == housingCoopDataset.friendlyName) {
            funFacts = housingCoopDataset.funFacts;
            keyRatios = housingCoopDataset.keyRatios;
        }

        activeDatasetLargestCell.textContent = funFacts.livingAreaMax;
        activeDatasetSmallestCell.textContent = funFacts.livingAreaMin;
        activeDatasetMostExpensiveCell.textContent = funFacts.contractPriceMax;
        activeDatasetLeastExpensiveCell.textContent = funFacts.contractPriceMin;

        var pu3, pu12, pu24;

        pu3 = Math.round((keyRatios.last3Months.priceDevelopment - 1.0) * 100.0);
        pu3 = pu3 > 0 ? "+" + pu3 : pu3;

        pu12 = Math.round((keyRatios.last12Months.priceDevelopment - 1.0) * 100.0);
        pu12 = pu12 > 0 ? "+" + pu12 : pu12;

        pu24 = Math.round((keyRatios.last24Months.priceDevelopment - 1.0) * 100.0);
        pu24 = pu24 > 0 ? "+" + pu24 : pu24;

        activeDatasetPu3Cell.textContent = pu3 + "%";
        activeDatasetPu12Cell.textContent = pu12 + "%";
        activeDatasetPu24Cell.textContent = pu24 + "%";

        for (var i = uiConfig.displayInterval.enableButtons.length; i--;) {
            uiConfig.displayInterval.enableButtons[i].disabled = false;
        }

        for (var i = uiConfig.displayDataset.enableButtons.length; i--;) {
            uiConfig.displayDataset.enableButtons[i].disabled = false;
        }
    }

    function formatDatasetTooltips() {

        for (var i = homeOwnershipDataset.plotData.length; i--;) {
            homeOwnershipDataset.plotData[i][2] = homeOwnershipDataset.tooltipFn(homeOwnershipDataset.plotData[i][2]);
        }

        for (var i = housingCoopDataset.plotData.length; i--;) {
            housingCoopDataset.plotData[i][2] = housingCoopDataset.tooltipFn(housingCoopDataset.plotData[i][2]);
        }

    }

    function changeDataset( dataset ) {

        disableUi();

        uiConfig.displayDataset.vAxisFormat = dataset.vAxisFormat;

        var numberOfRows = dataTable.getNumberOfRows();

        if (numberOfRows) {
            for (var i = dataset.plotData.length; i--;) {
                //dataTable.setValue(i, 1, dataset[i][j]);
                for (var j = 1; j <= 2; j++) {
                    dataTable.setValue(i, j, dataset.plotData[i][j]);
                }
            }
            //dataTable.removeRows(0, numberOfRows);
        } else {
            dataTable.addRows(dataset.plotData);
        }
    }

    function changeDataInterval(intervalLength) {

        disableUi();

        var startIndex, lastIndex;

        lastIndex = dataTable.getNumberOfRows();
        startIndex = (lastIndex - intervalLength) > 0 ? (lastIndex - intervalLength) : 0;

        uiConfig.displayInterval.activeInterval = [startIndex, lastIndex];
    }

    var dataTable = initDataTable();
    var dataView = new google.visualization.DataView(dataTable);
    var chart = new google.visualization.LineChart(document.getElementById('visualization'));

    var animationFinishHandler, firstDrawnHandler = google.visualization.events.addListener(chart, 'ready',
            function () {
                console.error('ready listener called' + Math.random());

                animationFinishHandler = google.visualization.events.addListener(chart, 'animationfinish', enableUi);

                google.visualization.events.removeListener(firstDrawnHandler);

                enableUi();
            } );

    var uiConfig = {
        displayInterval: {
            activeInterval: [],
            enableButtons: [],
            disableButtons: []
        },
        displayDataset:  {
            vAxisFormat: undefined,
            activeFriendlyName: housingCoopDataset.friendlyName,
            nextFriendlyName: homeOwnershipDataset.friendlyName,
            enableButtons: [],
            disableButtons: []
        }
    };

    var activeDatasetFriendlyNameSpan, nextDatasetFriendlyNameSpan;
    activeDatasetFriendlyNameSpan = document.getElementById("activeDatasetFriendlyName");
    nextDatasetFriendlyNameSpan = document.getElementById("nextDatasetFriendlyName");

    var activeDatasetPu3Cell, activeDatasetPu12Cell, activeDatasetPu24Cell;
    activeDatasetPu3Cell = document.getElementById("activeDatasetPu3");
    activeDatasetPu12Cell = document.getElementById("activeDatasetPu12");
    activeDatasetPu24Cell = document.getElementById("activeDatasetPu24");

    var activeDatasetLargestCell, activeDatasetSmallestCell, activeDatasetMostExpensiveCell, activeDatasetLeastExpensiveCell;

    activeDatasetLeastExpensiveCell = document.getElementById("activeDatasetLeastExpensive");
    activeDatasetMostExpensiveCell = document.getElementById("activeDatasetMostExpensive");
    activeDatasetLargestCell = document.getElementById("activeDatasetLargest");
    activeDatasetSmallestCell = document.getElementById("activeDatasetSmallest");

    var view12MonthsBtn, view24MonthsBtn, view36MonthsBtn;
    var viewDatasetToggleBtn;

    bindIntervalUiBtns();
    bindDatasetUiBtns();

    formatDatasetTooltips();

    changeDataset(housingCoopDataset);
    changeDataInterval(12);

    drawChart();
}

google.setOnLoadCallback(initVisualization);
</script>

</head>
<body>
<div id="wrapperContainer">
    <div id="titleContainer">
        <h1>
            Försäljningspriser: <span id="activeDatasetFriendlyName">Villor/Fritidshus</span>
        </h1>

        <h2>
            Östermalm, Stockholm
        </h2>

        <div id="topRightContainer">
            <button id='viewDatasetToggleBtn'>
                Visa <span id="nextDatasetFriendlyName">Villor/Fritidshus</span>
            </button>
        </div>
    </div>
    <div id="visualization"><!-- Portrait 300 x 370 px --></div>
    <div id="subChartContainer">
        <div id="subChartInnerBtnContainer">
            <button id='view12MonthsBtn'>12 månader</button>
            <button id='view24MonthsBtn'>24 månader</button>
            <button id='view36MonthsBtn'>36 månader</button>
        </div>
        <div id="subChartInnerFactsContainer">
            <div class="left-column">
                <h3>
                    Trivia
                </h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Dyrast:</td>
                            <td id="activeDatasetMostExpensive"></td>
                        </tr>
                        <tr>
                            <td>Billigast:</td>
                            <td id="activeDatasetLeastExpensive"></td>
                        </tr>
                        <tr>
                            <td>Störst:</td>
                            <td id="activeDatasetLargest"></td>
                        </tr>
                        <tr>
                            <td>Minst:</td>
                            <td id="activeDatasetSmallest"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-column">
                <h3>
                    Prisutveckling
                </h3>
                <table>
                    <tbody>
                        <tr>
                            <td> 3 mån:</td>
                            <td class="align-right" id="activeDatasetPu3"> +12 %</td>
                        </tr>
                        <tr>
                            <td>12 mån:</td>
                            <td class="align-right" id="activeDatasetPu12">+2 %</td>
                        </tr>
                        <tr>
                            <td>24 mån:</td>
                            <td class="align-right" id="activeDatasetPu24">-1 %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="subChartInnerLogoContainer">
            <img src="logo.jpg"/>
        </div>
    </div>
</div>
</body>
</html>
​
