/* BASE */

h1, h2, h3, p, article {
  margin: 0;
}

h1 {
  color: $hemnet-comp-orange;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 7px;
}

h3 {
  margin-bottom: 4px;
}

p {
  margin-bottom: 10px;

  & + p {
    //margin-bottom:
  }
}

article {
  margin-bottom: 20px;

  /*& + article {

  }*/
}

span.pipe-separator {
  color: green;

  &:after {
    content: ' | '
  }
}

/* SPECIFIC */

article.news-record-list-item {
  //background-color: red;
  padding: 5px;
  border: 2px dotted blue;

  & > div {

    /* NEWS RECORD HEADER */
    & > hgroup {
      h2 {
        //background-color: rgba(233,100,0,0.2);
      }

      h3 {
        //background-color: rgba(0,100,233,0.2);
        font-size: 13px;
      }
    }

    /* NEWS RECORD SUMMARY */
    & > div.news-record-list-item-summary {

    }

    /* NEWS RECORD BODY */
    & > aside.news-record-list-item-body {
      display: none;
    }
  }
}


