<!DOCTYPE HTML>
<html>
<head>
    <!-- <meta-content> -->
        <meta charset="utf-8" lang="en">
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="{{ keywords }}">
        <title>Admin UI (1.06)</title>
    <!-- </meta-content> -->

    <!-- <mobile-config> -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"> -->
    <!-- </mobile-config> -->

    <!-- <apple-config> -->
        <!-- Apple Safari compatibility statement -->
        <meta name="apple-mobile-web-app-capable" content="NO">

        <!-- Apple Touch Icon for enabling "Add to Home Screen" -->
        <!-- <link href="/resources/public/apple-touch-icon-precomposed" rel="apple-touch-icon-precomposed"> -->
    <!-- </apple-config> -->

    <!-- <msie-config> -->
        <!-- Use Chrome Frame for all IE versions -->
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->

        <!-- Manual DNS prefetching for speed-up -->
        <!-- <link rel="dns-prefetch" href="//ajax.googleapis.com"> -->

        <!-- Pinning title in MSIE9 -->
        <meta name="application-name" content="Admin UI (1.06)">

        <!-- Pinning tooltip (description) in MSIE9 -->
        <meta name="msapplication-tooltip" content="Account administration interface for the Mäklarstatistik Data API">

        <!-- Target URL for pin in MSIE9 -->
        <meta name="msapplication-starturl" content="https://sys.maklarstatistik.se/ui/admin/">

        <!-- Default dimensions when pinned in MSIE9 -->
        <meta name="msapplication-window" content="width=960;height=653">

        <!-- UI tone when pinned in MSIE9 -->
        <meta name="msapplication-navbutton-color" content="#009bff">

        <!-- Task menu when pinned in MSIE9 -->
        <!-- <meta name="msapplication-task" content="name=Task-1;action-uri=//task_url1;icon-uri=//task_ico_url1"> -->
    <!-- </msie-config> -->

    <!-- <meta-author> -->
        <meta name="author" content="Mats Blomdahl (2014-04-29)">
        <link type="text/plain" rel="author" href="//sys.maklarstatistik.se/humans.txt">
    <!-- </meta-author> -->

    <!-- <meta-id> -->
        <!-- Canonical URL for search engines and referees -->
        <link rel="canonical" href="https://sys.maklarstatistik.se/ui/admin/">

        <!-- Pingback URL for websites linking in -->
        <link rel="pingback" href="https://sys.maklarstatistik.se/ui/admin/">
    <!-- </meta-id> -->

    <!-- <x-compile> -->
        <!-- <x-bootstrap> -->
            <link rel="stylesheet" href="bootstrap.css">
            <script src="../ext/ext-dev.js"></script>
            <script src="bootstrap.js"></script>
        <!-- </x-bootstrap> -->
        <script src="app.js"></script>
    <!-- </x-compile> -->
</head>
<body>

<!-- Google Analytics Site ID Setup -->
<!-- <script>
    window._gaq = [['_setAccount','{{ google_analytics_id }}'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
</script> -->

<!-- Prompt IE users to install Chrome Frame. Remove this if you don't want to support IE < 9. -->
<!-- [if lt IE 9 ]
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
[endif] -->

</body>
</html>
